{% extends "base.html" %}

{% block announce %}
<!-- Splunk RUM -->
<script src="https://cdn.signalfx.com/o11y-gdi-rum/latest/splunk-otel-web.js" crossorigin="anonymous"></script>
<script>
    SplunkRum.init({
        beaconUrl: "https://rum-ingest.us1.signalfx.com/v1/rum",
        rumAuth: "EK5fN_cQS_j2hNVDgVCMvA",
        app: "RBA_Website",
        environment: "prod"
    });
</script>
<!-- END Splunk RUM -->

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "cfffc9baa3c14c329daf4b54814a9e93"}'></script>
<!-- End Cloudflare Web Analytics -->

For updates join <strong>The RBA Community</strong> on
<a href="https://www.linkedin.com/groups/12702283/" target="_blank">
    <span class="twemoji linkedin">
    {% include ".icons/fontawesome/brands/linkedin.svg" %}
    </span>
    <strong>LinkedIn</strong>
</a>
or on <a href="https://outpost-security.com/slack/" target="_blank">
    <span class="twemoji">
        {% include ".icons/fontawesome/brands/slack.svg" %}
    </span>
    <strong>Slack</strong>
</a>
<br>
Special thanks to all our contributors and community members!
<span class="twemoji heart">
    {% include ".icons/octicons/heart-fill-24.svg" %}
</span>
<br>
{% endblock %}
