{% extends "base.html" %}

{% block announce %}
<!-- Splunk RUM -->
<script src="https://cdn.signalfx.com/o11y-gdi-rum/latest/splunk-otel-web.js" crossorigin="anonymous"></script>
<script>
    SplunkRum.init({
        beaconUrl: "https://rum-ingest.us1.signalfx.com/v1/rum",
        rumAuth: "EK5fN_cQS_j2hNVDgVCMvA",
        app: "RBA_Website",
        environment: "prod"
    });
</script>
<!-- END Splunk RUM -->

For updates join <strong>The RBA Community</strong> on
<a href="https://www.linkedin.com/groups/12702283/" target="_blank">
    <span class="twemoji linkedin">
    {% include ".icons/fontawesome/brands/linkedin.svg" %}
    </span>
    <strong>LinkedIn</strong>
</a>
or on <a href="https://outpost-security.com/slack/" target="_blank">
    <span class="twemoji">
        {% include ".icons/fontawesome/brands/slack.svg" %}
    </span>
    <strong>Slack</strong>
</a>
<br>
Special thanks to all our contributors and community members!
<span class="twemoji heart">
    {% include ".icons/octicons/heart-fill-24.svg" %}
</span>
<br>
<br>
<div>
    <a href="https://www.outpost-security.com/rba-zero-to-one" target="_blank"><img style="vertical-align:middle;"
            src="https://images.squarespace-cdn.com/content/v1/646f8ac6c3a5727976ac3301/df723500-1136-4a0a-9870-183a54370b00/IMG_4988.png?format=50w%2050w"
            width="50" height="50"></a>
    <span>Check out the new app developed by <a href="https://www.outpost-security.com/" target="_blank">Outpost Security</a> Zero-to-One to kickstart your RBA implementation.</span>
</div>
<br>
{% endblock %}
