{% extends "base.html" %}

{% block announce %}
For updates join <strong>The RBA Community</strong> on
<a href="https://www.linkedin.com/groups/12702283/" target="_blank">
    <span class="twemoji linkedin">
    {% include ".icons/fontawesome/brands/linkedin.svg" %}
    </span>
    <strong>LinkedIn</strong>
</a>
or on <a href="https://outpost-security.com/slack/" target="_blank">
    <span class="twemoji">
        {% include ".icons/fontawesome/brands/slack.svg" %}
    </span>
    <strong>Slack</strong>
</a>
<br>
Special thanks to all our contributors and community members!
<span class="twemoji heart">
    {% include ".icons/octicons/heart-fill-24.svg" %}
</span>
{% endblock %}
